<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
  <div class="divtitles">Minhas qualificações</div>
  <div class="divmain">
    <div class="divcol1">Primeira Coluna</div>
    <div class="divcol2">Segunda Coluna</div>
  </div>
</body>
</html>

