  .divtitles{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:chocolate;
    padding: 20px;
  }
  
  .divmain{
    display:flex;
  }

  .divcol1{
    background-color: yellow;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    color: #000;
  }

  .divcol2{
    background-color: blue;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    color: #ffffff;
  }

  .sucesso{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: green;
  }

  .erro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: red;
  }